*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    height: 100%;
    width: 100%;
    background-color: black;
 
}


.container{
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 50px;

}
.container h1{
    color: white;
}

.btn button{
    width: 80px;
    height: 35px;
    margin-inline: 5px;
}